@import "tailwindcss";

:root{
  --color-border:#e5e5e5;
  --color-button:#f5f5f5;
  --color-link:#535353;
  --color-text:#535353;
  --color-background:#f5f5f5;
}

body{
  font-family: "DM Sans", sans-serif;
}


@keyframes slideText {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}